* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#time {
    font-size: 8rem;
}

#date {
    font-size: 2rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
}

p {
    margin-top: 4rem;
    font-size: 1.2rem;
}

/* Responsive Media Query */
@media (max-width: 700px) {

    #time {
        font-size: 6rem;
    }
}